---
import Layout from "../layouts/Layout.astro";
import Menu, {
  type ExtraMenuButton,
  type MenuOption,
} from "../components/menu/menu.svelte";
import ServiceComp from "../components/service/service.svelte";

const menuOptions: MenuOption[] = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "Projects",
    path: "/projects",
  },
];

const extraOptions: ExtraMenuButton[] = [
  {
    name: "Resume",
    action: () => {},
  },
];
---

<Layout title="Portfolio">
  <header class="flex items-center w-full">
    <Menu menu={{ options: menuOptions, extraOptions }} />
  </header>
  <div class="container mx-auto p-4 border border-red-400 rounded-md">
    <!-- Contenido principal -->
    <div class="container mx-auto mt-10 p-4">
      <div class="flex justify-between items-center mb-8">
        <div>
          <h1 class="text-3xl font-bold mb-2">Fernando Mirabile</h1>
          <p class="text-xl text-gray-600">Software Engineer</p>
        </div>
      </div>
      <div class="flex items-center justify-between gap-5">
        <div>
          <h2 class="text-2xl font-semibold mb-4">About me</h2>
          <p class="mb-4">¡Hello! I'm Fernando. Full stack engineer from X.</p>
        </div>
        <div>
          <ServiceComp
            title={"Front-end"}
            description={"Website moderno y listo para móviles que te ayudará a alcanzar todos tus objetivos de marketing."}
            pathToImage={"path/to/frontend-icon.jpg"}
          />
          <ServiceComp
            title={"Back-end"}
            description={"Enfoque UI/UX en el usuario, enfoque en las configuraciones del usuario y enfoque en los datos en el backend."}
            pathToImage={"path/to/backend-icon.jpg"}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
