---
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  lang: string;
  redirectTo?: string;
}

const { title, description, lang, redirectTo } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {
      redirectTo && (
        <meta http-equiv="refresh" content={`0; url=${redirectTo || "/en"}`} />
      )
    }
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <slot />
  </body>
</html>
